<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="/stylesheets/homepageStyles.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/adminpageStyles.css" rel="stylesheet" type="text/css" />
  <link href="https://db.onlinewebfonts.com/c/4c4a8b4f494bf44c6891cbd63789c881?family=Budmo+W00+Solid" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <title><%= title %></title>
</head>

<body>
