<header>
  <div class="nvbar">
    <div class="logo">
      <a class="logo" href="#">
        Literally
      </a>
    </div>
    <ul class="links">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Instagram</a>
      </li>
      <li>
        <a href="#">Youtube</a>
      </li>
      <li>
        <a href="#">Blogs</a>
      </li>
    </ul>
    <div class="actionBtn">
      <input placeholder="Search" type="search" class="searchInput">
      <i class='bx bx-search-alt'></i>
    </div>
    <div class="toggleBtn">
      <i class='bx bx-menu'></i>
    </div>
  </div>
  <div class="dropdownMenu">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Instagram</a>
    </li>
    <li>
      <a href="#">Youtube</a>
    </li>
    <li>
      <a href="#">Blogs</a>
    </li>
    <li>
      <div class="actionBtn">
        <input placeholder="Search" type="search" class="searchInput">
        <i class='bx bx-search-alt'></i>
      </div>
    </li>
  </div>
</header>
